<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Home</title>
</head>
<body>
  <h1>Hello World!</h1>  
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Home</title>
    <link href="../static/css/style.css" rel="stylesheet">    
</head>
<body>
  <nav>
    <h1>Example Task List App</h1>
    <ul>
      <li class="navlink"><a href="#">Home</a></li>
      <li class="navlink"><a href="#">View Tasks</a></li>
      <li class="navlink"><a href="#">New Task</a></li>
    </ul>
  </nav>
  <main>
    <h1>Home Page</h1>
  </main>
</body>
</html>